@{
    ViewData["Title"] = "Свойства шлака";
}

<form method="post" action="/Home/Result/" class="form-horizontal" style="margin-top: 30px">
    <div class="form-group">
        <label class="col-xs-4">Вязкость с поправкой на FeO и Т на входе в зону когезии, пуаз</label>
        <div class="col-xs-4">
            <input type="text" name="VisVhod" value="@(Math.Round(ViewBag.rashet.VisVhod,3))" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-4">Вязкость с поправкой на FeO и Т на выходе из зоны когезии, пуаз</label>
        <div class="col-xs-4">
            <input type="text" name="VisExit" value="@(Math.Round(ViewBag.rashet.VisExit,3))" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-4">Вязкость с поправкой на основность на входе в зону когезии, пуаз</label>
        <div class="col-xs-4">
            <input type="text" name="VisOcnVhod" value="@(Math.Round(ViewBag.rashet.VisOcnVhod,3))" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label style="" class="col-xs-4">Вязкость с поправкой на основность на выходе из зоны когезии, пуаз</label>
        <div class="col-xs-4">
            <input type="text" name="VisOsnExit" value="@(Math.Round(ViewBag.rashet.VisOsnExit,3))" class="form-control" />
        </div>
    </div>


    <div class="form-group">
        <label class="col-xs-4">Коэффициент политермы A</label>
        <div class="col-xs-4">
            <input type="text" name="KoffA" value="@(Math.Round(ViewBag.rashet.KoffA,4))" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-4">Коэффициент политермы B</label>
        <div class="col-xs-4">
            <input type="text" name="KoffB" value="@(Math.Round(ViewBag.rashet.KoffB,4))" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-4">вязкость при т-ре входа в зону когезии, пуаз</label>
        <div class="col-xs-4">
            <input type="text" name="Vis1180" value="@(Math.Round(ViewBag.rashet.Vis1180,3))" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-4">вязкость при т-ре 1200, пуаз</label>
        <div class="col-xs-4">
            <input type="text" name="Vis1200" value="@(Math.Round(ViewBag.rashet.Vis1200,3))" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-4">вязкость при т-ре 1250, пуаз</label>
        <div class="col-xs-4">
            <input type="text" name="Vis1250" value="@(Math.Round(ViewBag.rashet.Vis1250,3))" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-4">вязкость при т-ре 1275, пуаз</label>
        <div class="col-xs-4">
            <input type="text" name="Vis1275" value="@(Math.Round(ViewBag.rashet.Vis1275,3))" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-4">вязкость при т-ре 1300, пуаз</label>
        <div class="col-xs-4">
            <input type="text" name="Vis1300" value="@(Math.Round(ViewBag.rashet.Vis1300,3))" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-4">Температура кристаллизации (плавления) шлака при вязкости 25 пуаз, град.С</label>
        <div class="col-xs-4">
            <input type="text" name="TempKristal" value="@(Math.Round(ViewBag.rashet.TempKristal, 3))" class="form-control" />
        </div>
    </div>


    <div class="form-group">
        <label class="col-xs-4">Погрешность вычислений, %</label>
        <div class="col-xs-4">
            <input type="text" name="pogr" value="@(Math.Round(ViewBag.rashet.pogr,3))" class="form-control" />
        </div>
    </div>
    @*<div class="form-group">
        <button type="submit" class="btn btn-primary">Посчитать</button>
    </div>*@

</form>